@import './main.scss';
.Blogs{
    min-height: 100vh;
    // background: $dark;
    background-color: #f4f4f4;
    padding: 5rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1{
        text-align: center;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #fff;
        color: #222;
        span{
            background: $gradient;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
        }
    }
    .Blogs_Container{
        display: flex;
        flex-wrap: wrap;
        column-gap: 2%;
        row-gap: 2rem;
        margin-top: 2rem;
        width: 90%;
        max-width: 1140px;
        justify-content: center;
        .Blog_Card{
            width: 48%;
            justify-content: center;
            
            
            .Blog_Card_Img{
                height: 270px;
                overflow: hidden;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center center;
                }
            }
            .Blog_Card_Content{
                padding: 1rem 0;
                p{
                    padding: .5rem 0;
                }
                button{
                    // background: $gradient;
                    // color: #fff;
                    // width: 120px;
                    // height: 40px;
                    color: $gradient;
                }
            }
            
    }
}
.See_All_Blogs_Btn{
    margin-top: 2.5rem;
    button{
        width: 180px;
        height: 40px;
        background: $gradient;
        color: #fff;
        transition: .2s;
        &:hover{
            letter-spacing: 1.1px;
        }
    }
}
}

@media(max-width:768px){
   
    .Blogs .Blogs_Container {
        gap: 2rem;
        .Blog_Card{
       width: 100%;
       .Blog_Card_Img{
           height: 200px;
       }
   }}
}